<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> MagiCandy </title>
    <link rel="stylesheet" href="../css/Dashboard2.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/img/Icono.ico">
</head>
<body>

    <div class="sidebar close">
        <!-- LINK DE TODAS LAS PAGINAS -->
        <ul class="nav-links">
            <!-- INICIO -->
            <li>
                <a href="@Url.Action("Ingreso", "Home")">
                    <i class='bx bx-home'></i>
                    <span class="link_name">Inicio</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("Ingreso", "Home")">Inicio</a></li>
                </ul>
            </li>

            <!-- HOJA DE PERFIL -->
            <li>
                <a href="@Url.Action("Perfil", "Home")">
                    <i class='bx bx-id-card'></i>
                    <span class="link_name">Perfil</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("Perfil", "Home")">Perfil</a></li>
                </ul>
            </li>

            <!-- HOJA DE VENTAS -->
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Ventas</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Ventas</a></li>
                    <li><a href="@Url.Action("ReporteVentas", "Ventas")">- Reporte de ventas</a></li>
                </ul>
            </li>

            <!-- MENU DE INVENTARIO CON SUB CATEGORIAS -->
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Inventario</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("Create", "Inventories")">- Inventario</a></li>
                    <li><a href="#"><u>Productos:</u></a></li>
                    <li><a href="@Url.Action("Create", "Products")">- Registra Productos</a></li>
                    <li><a href="@Url.Action("Create", "Products")">- Entrada Productos</a></li>
                    <li><a href="@Url.Action("Index", "Products")">- Consultar Productos</a></li>
                    <li><a href="@Url.Action("RegistrarNovedad", "Home")">- Registrar Novedad</a></li>
                    <li><a href="#"><u>Insumos:</u></a></li>
                    <li><a href="@Url.Action("Create", "Supplies")">- Registra Insumos</a></li>
                    <li><a href="@Url.Action("Create", "Supplies")">- Entrada Insumos</a></li>
                    <li><a href="@Url.Action("Index", "Supplies")">- Consultar Insumos</a></li>
                    <li><a href="@Url.Action("RegistrarNovedadInsumos", "Home")">- Registrar Novedad</a></li>
                    <li><a href="@Url.Action("RegistrarSalida", "Home")">- Registrar Salida</a></li>
                </ul>
            </li>

            <!-- MENU DE PRODUCCION -->
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-history'></i>
                        <span class="link_name">Producción</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Producción</a></li>
                    <li><a href="#"><u>Orden Producción:</u></a></li>
                    <li><a href="@Url.Action("CrearOrden", "Produccion")">- Crear Orden</a></li>
                    <li><a href="@Url.Action("ConsultarOrden", "Produccion")">- Consultar Orden</a></li>
                    <li><a href="#"><u>Actividades</u></a></li>
                    <li><a href="@Url.Action("NuevaActividad", "Produccion")">- Nueva Actividad</a></li>
                    <li><a href="@Url.Action("ConsultarActividades", "Produccion")">- Consultar Actividades</a></li>
                    <li><a href="#"><u>Novedades:</u></a></li>
                    <li><a href="@Url.Action("GenerarNovedad", "Produccion")">- Generar Novedad</a></li>
                    <li><a href="@Url.Action("ConsultarNovedad", "Produccion")">- Consultar Novedad</a></li>
                </ul>
            </li>

            <!-- PARA CERRAR SESION -->
            <li>
                <div class="profile-details">
                    <a href="../../Inicio.html">
                        <i class="bx bx-log-out"></i>
                    </a>
                    <img src="../IMG/MGCwhite.jpg" width="90PX">
                </div>
            </li>
        </ul>
    </div>


    <section class="home-section">

        <div class="home-content">

            <i class='bx bx-menu' href="Inicio.html"></i>
            <H3>Registrar Insumo</H3><br>

        </div>

    </section>

    <section class="form-production" style="margin-top: 10%;">
        @model IEnumerable<MagicCandy.Models.Supply>

        @{
            ViewData["Title"] = "Index";
        }

        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Pkid">Editar</a> |
                            <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.Pkid">Detalles</a> |
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Pkid">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <br>
    <br>
    <script src="../../../js/navdb.js"></script>
</body>
</html>