@model IEnumerable<MagicCandy.Models.User>

@{
    ViewData["Title"] = "Lista de usuarios";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkRolesId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Identification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FkRolesId)
                </td>
                <td>
                    <a asp-action="EditUser" class="btn btn-warning" asp-route-id="@user.Id">Editar</a> |
                    <a asp-action="DetailsUser" class="btn btn-dark" asp-route-id="@user.Id">Detalles</a> |
                    <a asp-action="DeleteUser" class="btn btn-danger" asp-route-id="@user.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
